<template>
    <div>
        <h3 class="font-weight-light">Novo Nome: {{contatoNovo.nome}}</h3>

        <form @submit.prevent="Adicionar">
            <div class="form-group">
                <label>Nome</label>
                <input 
                    type="text" 
                    required
                    class="form-control" 
                    placeholder="Insira o nome" 
                    v-model="contatoNovo.nome">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input 
                    type="email" 
                    required
                    class="form-control" 
                    placeholder="Insira o email"
                   v-model="contatoNovo.email">
            </div>

            <button 
                type="button" 
                class="btn btn-secondary mt-4 mb-4 mr-2" 
                @click="$router.back()">
                    Voltar
            </button>
            <button 
                type="submit" 
                class="btn btn-success">
                    Adicionar
            </button>
        </form>

    </div>
</template>

<script>

import EventBus from './../../event-bus'

export default {
    data() {
        return {
            estaCancelando: true,
            contatoNovo: undefined
        }
    },
     created(){
    this.contatoNovo = EventBus.contatos
  },
    
    beforeRouteLeave(to, from, next) {
        console.log('beforeRouteLeave')
        this.estaCancelando
            ? next(window.confirm('Deseja realmente sair?'))
            : next()
    },
    methods: {
        Adicionar() {
        var id = EventBus.contatos.length + 1;
      EventBus.contatos.push({
        id: id,
        nome: this.contatoNovo.nome,
        email: this.contatoNovo.email,
        })
        this.estaCancelando = false,
        this.$router.push('/contatos')
    }}
}
</script>
