<template>
  <div>
    <contatos-lista :busca="busca"/>
    <!-- <contatos-lista/> -->
  </div>
</template>
<script>
import ContatosLista from "./../../components/contatos /ContatosLista.vue";

export default {
  components: {
    ContatosLista,
  },
  props: ["busca"],
};
</script>