<template>
<div class="container">
     <div class="container">
      <router-link to="/home" 
      class="btn btn-info mb-4 mr-2" 
      exact>
        Home
      </router-link>
      <router-link
        :to="{ path: '/contatos' }"
        class="btn btn-info mb-4 mr-2">
        Contatos
      </router-link>

      <router-view></router-view>
</div>
</div>
</template>