<template>
  <li>
    <span> {{ contato.nome }} </span>
    <button class="btn btn-sm btn-danger float-right" @click="remover">
      Remover
    </button>
    <router-link
      :to="{ path: `/contatos/${contato.id}` }"
      class="btn btn-info btn-sm float-right mr-1"
      >Detalhes</router-link
    >
  </li>
</template>

<script>

import EventBus from '@/event-bus' 

export default {
  props: {
    contato: {
      type: Object,
      required: true,
    },
  },
methods:{
  remover(){

    console.log(this.contato)
    
    const id = EventBus.contatos.find(c => c.id === this.contato.id)
     
     console.log(id)

    EventBus.contatos.splice((id ), 1)

    console.log(EventBus.contatos)
  }
}
};
</script>