<template>
  <div>
    <h3 class="font-weight-light">Contatos</h3>

    <div class="form-group">
      <input
        type="search"
        class="form-control"
        placeholder="Buscar contato"
        @keyup.enter="buscar"
        :value="busca"
      />
    </div>

    <hr />

    <ul class="list-group" v-if="contatosFiltrados.length > 0">
      <ContatosListaItem
        class="list-group-item"
        v-for="contato in contatosFiltrados"
        :key="contato.id"
        :contato="contato"
      />
    </ul>

    <p v-else>Nenhum contato cadastrado</p>
    <button class="btn btn-secondary mt-4 mb-4" @click="voltar">Voltar</button>
    <router-link class="btn btn-primary float-right mt-4 m-4"  :to="'/new'">Add Novo</router-link>
  </div>
</template>

<script>
import ContatosListaItem from "./ContatosListaItem.vue";
import EventBus from '../../event-bus'


export default {
  components: {
    ContatosListaItem,
  },
  props: ["busca"],
  data() {
    return {
      contatos: []
    };
  },
  computed: {
    contatosFiltrados() {
      const busca = this.$route.query.busca;
      return !busca
        ? this.contatos
        : this.contatos.filter((c) =>
            c.nome.toLowerCase().includes(busca.toLowerCase())
          );
    },
  },
  created(){
    this.contatos = EventBus.contatos
  },
  methods: {
    voltar() {
      // this.$router.push('/')
      // this.$router.replace('/')
      // this.$router.go(-3)
      // this.$router.forward()
      this.$router.back();
    },
    buscar(event) {
      this.$router.push({
        path: "/contatos",
        query: { busca: event.target.value },
      });
    },
  },
};
</script>