<template>
  <div id="app">
    <div class="jumbotron">
      <h1 class="display-4">Vue Router</h1>
      <p class="lead">Adicionando rotas a Single Page Applications no Vue.</p>
    </div>

   


<transition name="slide" mode="out-in">
      <router-view> </router-view>
</transition>
    </div>
</template>

<style scoped>
.slide-enter, .slide-leave-to{
  transform: translateX(-50px);
}

.slide-enter-active, .slide-leave-active{
  transition: all 0.3s;
}
</style>>>>